In [3]:
import pandas as pd

# Read in the data
df = pd.read_csv('./ev_charging.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54238 entries, 0 to 54237
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Station Name        54238 non-null  object
 1   Street Address      54205 non-null  object
 2   City                54238 non-null  object
 3   State               54238 non-null  object
 4   ZIP                 54238 non-null  object
 5   EV Level1 EVSE Num  54238 non-null  float64
 6   EV Level2 EVSE Num  54238 non-null  float64
 7   EV DC Fast Count    54238 non-null  float64
 8   EV Network          54236 non-null  object
 9   EV Connector Types  54190 non-null  object
 10  Access Code         54238 non-null  object
 11  Access Detail Code  4554 non-null   object
 12  Facility Type       16733 non-null  object
dtypes: float64(3), object(10)
memory usage: 5.4+ MB

In [8]:
# df.info()
# 
# max value of column EV Level 1 EVSE Num
print(
df['EV Level1 EVSE Num'].max())
print(df['EV Level2 EVSE Num'])

90.0
0        1.0
1        0.0
2        0.0
3        2.0
4        2.0
        ...
54233    0.0
54234    0.0
54235    0.0
54236    1.0
54237    2.0
Name: EV Level2 EVSE Num, Length: 54238, dtype: float64

In [5]:
df['EV Level1 EVSE Num'] = df['EV Level1 EVSE Num'].fillna(0)
df['EV Level2 EVSE Num'] = df['EV Level2 EVSE Num'].fillna(0)
df['EV DC Fast Count'] = df['EV DC Fast Count'].fillna(0)

In [25]:
df.head()

,Station Name,Street Address,City,State,ZIP,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Network,EV Connector Types,Access Code,Access Detail Code,Facility Type
0,K2 Aviation,14052 E 2nd St,Talkeetna,AK,99676,0.0,1.0,0.0,Non-Networked,TESLA,Public,NaN,Airport
1,Denali Brewing Co,37083 Talkeetna Spur Rd,Talkeetna,AK,99676,0.0,0.0,1.0,Non-Networked,CHADEMO,Public,CREDIT_CARD_ALWAYS,"Brewerly, Distillery, Winnery"
2,Alaskan Brewing Co,5364 Commercial Blvd,Juneau,AK,99801,0.0,0.0,1.0,Non-Networked,CHADEMO,Public,CREDIT_CARD_ALWAYS,"Brewerly, Distillery, Winnery"
3,Chevrolet of Wasilla,3700 E Parks Hwy,Wasilla,AK,99654,0.0,2.0,1.0,Non-Networked,J1772 J1772COMBO,Public,NaN,Car Dealer
4,University of Alaska Southeast,11066 Auke Lake Way,Juneau,AK,99801,0.0,2.0,0.0,Non-Networked,J1772,Public,NaN,College Campus

In [9]:
df.to_csv('./ev_charging_clean.csv', index=False)